{% extends "pawneerangers_trenchcalculator/base.html" %}
{% load tethys_gizmos %}

{% load staticfiles %}

{% block header_buttons %}
    {{ block.super }}
  <div class="header-button glyphicon-button" data-toggle="tooltip" data-placement="bottom" title="About">
    <a data-toggle="modal" data-target="#help-modal"><span class="glyphicon glyphicon-question-sign"></span></a>
  </div>
{% endblock %}

{% block app_content %}
    <div id="map" style="margin-left: -15px; margin-right: -15px; margin-top: -20px; margin-bottom: -500px; width:-webkit-fill-available; height:626px;">
        <div id="line-button" class="esri-widget-button esri-widget esri-interactive" title="Draw polyline">
            <span class="esri-icon-polyline"></span>
        </div>
        <div id="search" class="esri-widget">
            <div style="margin:15px;">
                <h6>Basemap</h6>
                <form name="map-toggle">
                    <div id="gray-toggle" class="radio">
                      <label><input type="radio" name="mapradio" value="gray">Gray</label>
                    </div>
                    <div id="satellite-toggle" class="radio">
                      <label><input type="radio" name="mapradio" value="satellite">Satellite</label>
                    </div>
                    <div id="streets-toggle" class="radio">
                      <label><input type="radio" name="mapradio" value="streets" checked>Streets</label>
                    </div> 
                </form>
            </div>
        </div>
        <div id="newlegend" class="esri-widget">
            <div style="margin:15px;">
                <h6>Legendary Legend</h6>
                <img id="lngd" src="{% static 'pawneerangers_trenchcalculator/images/legend.png' %}" style="width:100px;">
            </div>
        </div>
    </div>
{% endblock %}

{% block app_navigation_items %}
      {{ block.super }}

    <p class="butheader" style="margin-left:10%">TRENCH DIMENSIONS</p>
    <div style="margin-left:10%;">
        <table style="width:100%; margin-left: 10px;">
          <tr>
            <td>Pipe Diameter (feet)</td>
            <td>
                <input id="pipe-diameter" type="text" style="width:70px;">
            </td> 
          </tr>
          <tr>
            <td>Base Width (feet)</td>
            <td>
                <input id="base-width" type="text" style="width:70px;">
            </td> 
          </tr>
          <tr>
            <td>Minimum Depth (feet)</td>
            <td>
                <input id="min-depth" type="text" style="width:70px;">
            </td> 
          </tr>
          <tr>
            <td>Backfill Depth (feet)</td>
            <td>
                <input id="back-depth" type="text" style="width:70px;">
            </td> 
          </tr>
          <tr>
            <td>Base Slope (degrees)</td>
            <td>
                <input id="base-slope" type="text" style="width:70px;">
            </td> 
          </tr>
          <tr>
            <td>Side Slope (degrees)</td>
            <td>
                <input id="side-slope" type="text" style="width:70px;">
            </td> 
          </tr>
        </table> 
    </div>
    <img id="trenchprofile" src="{% static 'pawneerangers_trenchcalculator/images/trench_profile.png' %}">
    <br>
    <div style="margin-left: 10%">
        <button id="build-trench-button" type="button" class="btn btn-default btn-md">Build Trench</button>
        <button id="results-button" type="button" class="btn btn-default btn-md" onclick="$('#result-modal').modal('show'); " disabled>View Results</button>
    </div>
    <br>
    <br>
    <div id="loading-animation"></div>
{% endblock %}

{# Use the after_app_content block for modals #}
{% block after_app_content %}

    <div class="modal fade" id="result-modal" tabindex="-1" role="dialog" aria-labelledby="result-modal-label">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h5 class="modal-title" id="result-modal-label">Results</h5>
            </div>
            <div class="modal-body">
                <center>
                    <div id="swanson" hidden>
                        <img id="swanson-head" src="{% static 'pawneerangers_trenchcalculator/images/swansonhead.gif' %}">
                    </div>
                    <div id="result-plot"></div>
                    <table id="result-table" class="table" style="width:85%;" hidden>
                      <tbody>
                        <tr>
                          <th>Offhaul Volume (yd<sup>3</sup>)</th>
                          <th>Backfill Volume (yd<sup>3</sup>)</th>
                          <th>Bedding Volume (yd<sup>3</sup>)</th>
                        </tr>
                        <tr>
                          <td id="offhaul-result"></td>
                          <td id="backfill-result"></td>
                          <td id="bedding-result"></td>
                        </tr>
                      </tbody>
                    </table>
                <center>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
    </div>


    <div class="modal fade" id="help-modal" tabindex="-1" role="dialog" aria-labelledby="help-modal-label">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h5 class="modal-title" id="help-modal-label">About the Trench Tool</h5>
            </div>
            <div class="modal-body">
                <p>This tool is brought to you by Corey Krewson, Ken Lippold, and Jordi Berrett of the Pawnee Rangers. </p>
                <p>This app allows the user to calculate how much soil will be excavated when installing a pipe and how much soil will need to imported for bedding and backfill.</p>
                <p>To begin, select the line tool on the map:  <img id="trenchprofile" src="{% static 'pawneerangers_trenchcalculator/images/drawingbutton.png' %}" style="width:20%;"> Use left clicks to create points in the line and double click when you are finished.</p>
                <p>Use the left panel to define the other properties of your trench as shown in the diagram.</p>
                <hr>
                <p>Select "Build Trench" to begin processing your request.</p>
                <p>Select "View Results" to see the resulting app calculations.</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary" data-dismiss="modal">Resume Session</button>
            </div>
          </div>
        </div>
      </div>
{% endblock %}

{% block app_actions %}
{% endblock %}

{% block scripts %}
  {{ block.super }}
{% endblock %}

{% block content_dependent_styles %}
  {{ block.super }}
{% endblock %}